groq
google-genai
mistralai
openai

python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph

faiss-cpu
chromadb
pinecone

sentence-transformers

transformers
huggingface-hub
torch

pypdf
python-docx
beautifulsoup4
unstructured

requests
httpx

fastapi
uvicorn

streamlit

numpy
pandas
tiktoken

jupyter
ipykernel